In [1]:
import numpy as np
import pandas as pd
import seaborn as sea
from   scipy   import stats
import matplotlib.pyplot as plt

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [3]:
data  = pd.read_csv('datasets/RainAustralian/weatherAUS.csv')

In [4]:
spark = SparkSession.builder.appName('Rain').getOrCreate()
dataS = spark.createDataFrame(data)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/18 19:00:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [13]:
dataS.createOrReplaceTempView('rain')

## Analise de dados

In [14]:
data.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No

In [15]:
data.isna().nunique()

Date             1
Location         1
MinTemp          2
MaxTemp          2
Rainfall         2
Evaporation      2
Sunshine         2
WindGustDir      2
WindGustSpeed    2
WindDir9am       2
WindDir3pm       2
WindSpeed9am     2
WindSpeed3pm     2
Humidity9am      2
Humidity3pm      2
Pressure9am      2
Pressure3pm      2
Cloud9am         2
Cloud3pm         2
Temp9am          2
Temp3pm          2
RainToday        2
RainTomorrow     2
dtype: int64

> Só não ha valores nulos para colunas `Date` e `Location`

In [16]:
data.nunique()

Date             3436
Location           49
MinTemp           389
MaxTemp           505
Rainfall          681
Evaporation       358
Sunshine          145
WindGustDir        16
WindGustSpeed      67
WindDir9am         16
WindDir3pm         16
WindSpeed9am       43
WindSpeed3pm       44
Humidity9am       101
Humidity3pm       101
Pressure9am       546
Pressure3pm       549
Cloud9am           10
Cloud3pm           10
Temp9am           441
Temp3pm           502
RainToday           2
RainTomorrow        2
dtype: int64

In [19]:
data['Date'].max(), data['Date'].min()

('2017-06-25', '2007-11-01')

> Os dados são de 10 anos