In [7]:
import pandas  as pd
import seaborn as sea
import matplotlib.pyplot as plt

In [8]:
data = pd.read_excel(r'datasets/Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.xls',sheet_name=1)

In [9]:
data.head(3)

,STG,SCG,STR,LPR,PEG,UNS,Unnamed: 6,Unnamed: 7,Attribute Information:
0,0.00,0.00,0.00,0.00,0.00,very_low,NaN,NaN,STG (The degree of study time for goal object ...
1,0.08,0.08,0.10,0.24,0.90,High,NaN,NaN,SCG (The degree of repetition number of user f...
2,0.06,0.06,0.05,0.25,0.33,Low,NaN,NaN,STR (The degree of study time of user for rela...